body{
 height:96vh;
 width:99vw;
}

#moving{
font-family: calibri;
 height: 100px;
 width: 100px;
 border: 1px black;
 border-radius: 50%;
 background-color: #bd1111;
 font-size: 1rem;
 position:absolute;
 left: 10px;
 top:10px;
 text-align: center;
}

#restart{
 background-color: #eee;
 color: rgb(31, 30, 30);
 border: none;
 cursor: pointer;
 transition: transform .3s;
 margin: 2px;
 margin-left: auto;
 margin-right: auto;
}

#restart:hover{
 color: rgb(170, 28, 28);
 transform: scale(1.05);
}
